<p>
  <strong>Title:</strong>
  <%= @pessoa.title %>
</p>
 
<p>
  <strong>Title:</strong>
  <%= @pessoa.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pessoa.title %>
</p>
 
<p>
  <strong>Title:</strong>
  <%= @pessoa.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pessoa.title %>
</p>
 
<p>
  <strong>Title:</strong>
  <%= @pessoa.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pessoa.title %>
</p>